body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    padding: 25px;
}

.header-items {
    margin-left: 700px;
}

.header-items ul {
    list-style-type: none;
    display: inline;
}

.nav-item {
    display: inline-block;
    margin: 0 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.pitch-one {
    display: flex;
}

.illustration {
    
 width: 40%;
}