body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    padding: 25px;
}

.header-items {
    margin-left: 700px;
}

.header-items ul {
    list-style-type: none;
    display: inline;
}

.nav-item {
    display: inline-block;
    margin: 0 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.pitch-one {
    display: flex;
}

.main-pitch h1 {
    font-weight: 700;
	font-size: 2.8em;
    color: hsl(243, 87%, 12%);
}

.main-pitch p {
    color: hsl(238, 22%, 44%);
    font-size: 1.3em;
}

.illustration-one img {
    width: 40rem;
}

.sign-email input {
    border: 0.5px solid rgba(0,0,0,0.05);
    padding: 15px;
    width: 20rem;
    border-radius: 5px;
}

.sign-email button {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: hsl(224, 93%, 58%);
    padding: 30px;
}