body {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

header {
    display: flex;
    padding: 25px;
}

.header-items {
    margin-left: 700px;
}

.header-items ul {
    list-style-type: none;
    display: inline;
}

.nav-item {
    display: inline-block;
    margin: 0 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.pitch-one {
    display: flex;
    height: 100vh;
}

.main-pitch h1 {
    font-weight: bold;
	font-size: 2.8em;
    color: hsl(243, 87%, 12%);
}

.main-pitch p {
    color: hsl(243, 87%, 12%);
    font-size: 1.3em;
    font-weight: 600
}

.illustration-one img {
    width: 40rem;
}

.sign-email input {
    border: 0.5px solid hsl(243, 83%, 9%);
    padding: 15px;
    width: 18rem;
    border-radius: 2px;
}

.sign-email button {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: 2px solid hsl(224, 93%, 58%);
    height: 2.8rem;
    border-radius: 3px;
    width: 12rem;
    margin-left: 15px;
    
    font-size: 15px;
}